
<div class="p-fluid p-formgrid grid">
    <div class="col col-12">
        <a routerLink="/">
            <small routerLink="/" class="label-titulo-aba">Início</small>
        </a>
        <small>/Cargo</small>
        <h2 id="page-heading">
            <span>{{isInsert ? 'Cadastrar' : 'Alterar'}} Cargo</span>
        </h2>
    </div>

    <div class="col-12">
        <form [formGroup]="cargoForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="id">id:</label>
                    <input pInputText type="text" id="id" formControlName="id" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="idkcloakUsrLogado">idkcloakUsrLogado:</label>
                    <input pInputText type="text" id="idkcloakUsrLogado" formControlName="idkcloakUsrLogado" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="sgCargo">sgCargo:</label>
                    <input pInputText type="text" id="sgCargo" formControlName="sgCargo" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="nmCargo">nmCargo:</label>
                    <input pInputText type="text" id="nmCargo" formControlName="nmCargo" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="inAtivo">inAtivo:</label>
                    <input pInputText type="text" id="inAtivo" formControlName="inAtivo" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="inExecutivo">inExecutivo:</label>
                    <input pInputText type="text" id="inExecutivo" formControlName="inExecutivo" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="dsCompetencia">dsCompetencia:</label>
                    <input pInputText type="text" id="dsCompetencia" formControlName="dsCompetencia" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="inExcluido">inExcluido:</label>
                    <input pInputText type="text" id="inExcluido" formControlName="inExcluido" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="nuOrdem">nuOrdem:</label>
                    <input pInputText type="text" id="nuOrdem" formControlName="nuOrdem" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="tipoCargoId">tipoCargoId:</label>
                    <input pInputText type="text" id="tipoCargoId" formControlName="tipoCargoId" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="tipoCargoNm">tipoCargoNm:</label>
                    <input pInputText type="text" id="tipoCargoNm" formControlName="tipoCargoNm" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="conselhoId">conselhoId:</label>
                    <input pInputText type="text" id="conselhoId" formControlName="conselhoId" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="sgUf">sgUf:</label>
                    <input pInputText type="text" id="sgUf" formControlName="sgUf" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="cargoEstruturaOrganizacionals">cargoEstruturaOrganizacionals:</label>
                    <input pInputText type="text" id="cargoEstruturaOrganizacionals" formControlName="cargoEstruturaOrganizacionals" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="justificativaAtivacao">justificativaAtivacao:</label>
                    <input pInputText type="text" id="justificativaAtivacao" formControlName="justificativaAtivacao" />
                </div>
            
                <div class="field col-4 sm:col-4 md:col-4 lg:col-4">
                    <label for="cargos">cargos:</label>
                    <input pInputText type="text" id="cargos" formControlName="cargos" />
                </div>
                            
            </div>

            <div class="col-12 md:col-12" style="display: flex; justify-content: flex-end;">
                <div style="display: flex; justify-content: center;">
                    <p-button [rounded]="true" [text]="true" label="Cancelar" (click)="cancelar($event)"></p-button>
                    <p-button [rounded]="true" [text]="true" label="Salvar" type="submit"
                        [disabled]="cargoForm.invalid"></p-button>
                </div>
            </div>
        </form>
    </div>

    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div
                    class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                    <i class="pi pi-question text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button pButton label="Sim" (click)="cd.accept()" class="w-8rem p-button-danger"></button>
                    <button pButton label="Não" (click)="cd.reject()" class="p-button-outlined w-8rem"></button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
