<div class="p-fluid p-formgrid grid">
    <div class="col col-12">
        <a routerLink="/">
            <small routerLink="/" class="label-titulo-aba">Início</small>
        </a>
        <small>/Cargo</small>
        <h2 id="page-heading">
            <span>Gerenciar Cargos</span>
        </h2>
    </div>


    <div class="col-12">
        <form [formGroup]="cargoForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-4 sm:col-4 md:col-3 lg:col-2">
                    <label for="conselhoId">Conselho:</label>
                    <input pInputText type="number" id="conselhoId" formControlName="conselhoId" />
                </div>
                <div class="field col-8 sm:col-4 md:col-3 lg:col-2">
                    <label for="tipoCargoNm">Tipo:</label>
                    <input pInputText type="text" id="tipoCargoNm" formControlName="tipoCargoNm" />                    
                </div>
                <div class="field col-12 sm:col-4 md:col-6 lg:col-2">
                    <label for="descricao">Nome:</label>
                    <input pInputText id="descricao" formControlName="sgCargo" />
                </div>
                <div class="field col-4 sm:col-4 md:col-4 lg:col-2">
                    <label for="nmCargo">Sigla:</label>
                    <input pInputText id="nmCargo" formControlName="nmCargo" />
                </div>
                <div class="field col-4 sm:col-4 md:col-4 lg:col-2">
                    <label for="inExecutivo">Executivo:</label>
                    <p-dropdown formControlName="inExecutivo" [(ngModel)]="executivo" [options]="listSimNao" optionLabel="label" placeholder="Selecione"></p-dropdown>                   
                </div>
                <div class="field col-4 sm:col-4 md:col-4 lg:col-2">
                    <label for="inAtivo">Status:</label>
                    <p-dropdown [options]="listSimNao2" optionLabel="label" optionValue="inAtivo" placeholder="Selecione"></p-dropdown>                   
                </div>
            </div>

            <div class="col-12 md:col-12" style="display: flex; justify-content: flex-end;">
                <div style="display: flex; justify-content: center;">
                    <p-button icon="pi pi-search" [rounded]="true" [text]="true" (click)="pesquisar()"
                        label="Pesquisar"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (click)="limpar()"
                        label="Limpar"></p-button>
                    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" routerLink="new" routerLink="create"
                        label="Adicionar"></p-button>
                </div>
            </div>
        </form>
    </div>


    <div class="col col-12">
        <p-table [value]="itens" styleClass="p-datatable-striped" selectionMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="conselhoId">Conselho<p-sortIcon field="conselhoId"></p-sortIcon></th>
                    <th pSortableColumn="tipoCargoNm">Tipo<p-sortIcon field="tipoCargoNm"></p-sortIcon></th>
                    <th pSortableColumn="sgCargo">Sigla<p-sortIcon field="sgCargo"></p-sortIcon></th>
                    <th pSortableColumn="nmCargo">Nome<p-sortIcon field="nmCargo"></p-sortIcon></th>
                    <th pSortableColumn="inExecutivo">Executivo <p-sortIcon field="inExecutivo"></p-sortIcon></th>
                    <th pSortableColumn="inAtivo">Status<p-sortIcon field="inAtivo"></p-sortIcon></th>
                    <th>Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.conselhoId }}</td>
                    <td>{{ item.tipoCargoNm }}</td>
                    <td>{{ item.sgCargo }}</td>
                    <td>{{ item.nmCargo }}</td>
                    <td>{{ item.inExecutivo }}</td>
                    <td>{{ item.inAtivo }}</td>
                    <td>
                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true"
                            routerLink="view/{{item.id}}"></p-button>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
                            routerLink="edit/{{item.id}}"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                            (click)="confirmarDelecao($event,item)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div
                    class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                    <i class="pi pi-question text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button pButton label="Sim" (click)="cd.accept()" class="w-8rem p-button-danger"></button>
                    <button pButton label="Não" (click)="cd.reject()" class="p-button-outlined w-8rem"></button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>